*{
	margin: 0;
	padding: 0;
}
.wrapper {
    width: 700px;
    margin: 0 auto;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color:black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.text-section {
    display: none;
}






.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: 3s opacity;
    background-image: url(https://samherbert.net/svg-loaders/svg-loaders/hearts.svg);
    background-position: center;
    background-repeat: no-repeat;

}
.fade{
    opacity: 0;
}
h2{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 130px;

}
 p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 45px;



} 
/*header*/
header{
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    color: #fff;
 }
nav{
 	margin: 0;
 	align-self: stretch;

 }

.nav-link{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: black;

}
.nav-link:hover{
	color: #009966;
}
.container .navbar-brand{
	color: black;
	font-weight: 700;
	font-size: 25px;

}
.navbar-brand:hover{
	color: #009966;
}
.hero{
	display: flex;
	flex-direction: column;
	align-items: center;

}
h1{
	font-weight: 400;
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 200px;
}
.subh1{
	font-size: 22px;
	margin-bottom: 20px;
}
header .butt{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 57px;
	justify-content: space-between;
	margin-bottom: 80px;
}

header .firstbut{
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 15px 53px;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #fff;
}
header .firstbut:hover{
	color: #009966;
}
header .secondbut{
	background-color: #009966;
	color: #fff;
	padding: 15px 53px;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 20px;

}

header i{
	color: #fff;
	margin-bottom: 10px;
}
header i:hover{
	color: #009966;
}
/*/header*/
/*about*/
.about{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 130px;
	margin-bottom: 120px;
}

#about .row{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 130px;
}
#about .col-sm-4{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about .col-sm-4 h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px; 
	font-weight: 600;
	margin-top: 45px;
}
#about .col-sm-4 p{
	text-align: center;
	font-size: 15px;
	margin-top: 25px;

}
/*/about*/
/*services*/
#services {
	background-color: #ccffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
#services .our{
	margin-top: 130px;
	margin-bottom: 120px;
	text-align: center;
}
#services .row{
	margin-bottom: 100px;
}
#services .card-deck{
	margin-bottom: 20px;
}
#services .card{
	
	width: 370px;
	height: 430px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
#services .card:hover{
	background-color: #009966;
	box-shadow:  0.4em 0.4em 5px rgba(122,122,122,0.5);
	color: #fff;
}
#services .card-body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#services img{
	width: 50px;
	height: 60px;
	margin-top: 50px;
}
#services h5{
	font-size: 20px;
	font-weight: 600;
}
#services p{
	font-size: 15px;
	text-align: center;
	margin-top: 25px;
}
#services a{
	font-size: 20px;
	margin-top: 30px;
}
#services .btn{
	border:2px solid black;
	border-radius: 0;
	color: black;
}
#services .btn:hover{
	border:2px solid white;
	color: white;
	
}
/*/services*/
/*works*/
#works .works{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#works h2{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 100px;
}
#works p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 120px;
}
#works button{
	border: 2px solid #009966;
	border-radius: 0;
	color: black;
	margin-right: 20px;
}
#works button:hover{
	color: #fff;
	background-color: #009966;
}
#works .but{
	margin-bottom: 120px;
}
#works img{
	width: 330px;
	height: 310px;
	margin-right: 20px;
	margin-bottom: 20px;
}
#works .row{
	justify-content: center;
	margin-bottom: 50px;
}
.works_item{
	position: relative;
	overflow: hidden;
}
.works_info{
	background-color: rgba(85, 85, 85, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 94%;
	height: 94%;
	opacity: 0;
	transition: all 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}
.works_item:hover .works_info{
	opacity: 1;
	transform: translateX(0%);
	
}
.works_info h6{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}
.works_info p{
	margin: 0 !important;
	padding: 0;
}
/*plan*/
#plan {
	background-color: #f0f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
#plan p{
	margin-bottom: 120px;
}
#plan .card{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
	border-radius: 0;
	text-transform: none;
}
#plan .card:hover{
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba(0,0,0,0.7); 
}
#plan img{
	position: relative;

}
#plan .abc{
	position: absolute;
	line-height: 20px;
	color: white;
	margin-top: 110px;
	display: flex;
	flex-direction: column;

}
#plan .a{
	font-size: 25px;
	text-align: left;
	text-indent: -13px;

}
#plan .b{
	font-size: 50px;
	justify-content: center;
	margin: 0 auto;
}
#plan .c{
	font-size: 17px;
	text-align: right;
	margin-right: ;
}
#plan .card h2{
	position: absolute;
	margin-top: 56px;
	color: #fff;
	justify-content: center;
	font-size: 25px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
#plan ul{
	display: flex;
	flex-direction: column;
	align-items: center;

}
#plan li {
    list-style-type: none; 
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 50px;
   




 }
#plan .secondbut{
	color: black;
	padding: 15px 53px;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 20px;
	border: 2px solid black;
	justify-content: center;

}
#plan .secondbut:hover{
	color: #fff;
	background-color: #009966; 
	border: none;
}
/*member*/
#member h2{
	
}
#member p{
	margin-bottom: 123px;
}
#member .card{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 550px;
	border:none;
	margin-bottom: 150px;
}
#member h5{
	margin-top: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
#member .card p{
	margin-bottom: 40px;
	margin-top: 15px;
	font-size: 15px;
}
#member a{

}
#member i{
	background-color: #f0f1f1;
	padding: 20px 20px;
	font-size: 20px;
	border-radius: 10px;
	margin-right: 10px;
	color: #009966;

}
#member i:hover{
	background-color: #333399;
	color: #fff;
}
.text {
    display: none;
    padding: 20px;
    background-color: rgba(167, 133, 79, 0.2);
}

.text.active {
    display: block;
}

/*forms*/
#forms{
	background-image: url(..//images/bg.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    color: #fff;

   
}
#forms h2{
	padding-top: 150px;
}
#forms p{
	margin-bottom: 100px;
	color: #fff;
}
#forms .col-sm-4{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}
#forms img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
#forms h5{
	text-align: center;
	margin-bottom: 100px;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

#forms .form-group .row{
	background-color: #fff;
	margin-bottom: 100px;
}
#forms input {
	height: 90px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 600;
	
}
#forms textarea{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;

}
#forms button{
	border: 1px solid #fff;
	background-color: #fff;
	width: 220px;
	font-size: 20px;
	font-weight: 700;
	margin-left: 850px;
	margin-top: 10px;
	margin-bottom: 100px;
}
/*up*/
.up{
	background-color: #009966;
	
	position: fixed;
	bottom: 50px;
	right: 50px;
	border-radius: 60%;
	opacity: 0.5;
}
.up:hover{
	opacity: 1;
	transition: opacity 1s;
}
.up a{
	color: #fff;
	padding: 20px;
	display: inline-block;
	font-size: 30px;

}
@media screen and (max-width: 600px) {
	h1{
		font-size: 40px;
		}
	header .secondbut{
		font-size: 15px;
		/*padding-top: 0;
		padding-bottom: 0;*/
	}
	#works button{
	
	margin-right: 100px;
	margin-bottom: 10px;
	}	
	#forms button{
		margin-left: 20px;

	}
}
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/